
<div class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>Alexis Leray</h1>
      <h2>Product Manager</h2>
      <div class="paris">
      <p>Paris</p>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABWklEQVR4nO2UTStEURzGf0xZUZpYsJK1aBaayzdQluIbsJpsjA1bKZakkC8hpbx8CSwtiIXGTM2CaCaOTj3qdLtGd2buKe489a9zn//L85zbOQc6+OMwinQaMKFIlwHzQ6THQBdQdoQr4rxhVMIl4FnrEZ8GFiR6DJxoPefTwJ5E14B1rXd8GriT6CQQaH3vS3xcgk9At6IkbsyHgU2JHTrckbiNpMUzwIPE8g4/Le5RNYlhVkJXEblr5WaSNHApkUJEblm5syQP3yfwBmQj8v3Aq0zkfL395pf4PwZOY7x2u6q9aJf4vAZWgQFxgQReFOfiLAZVa9TbEvp0t+2worglHcbw77bcompWxdk3o7cVA9saZO94j053HXgHVoAhRVFcDZhQ7Y16t5oVn5LYh/N7DzTUiofxvet9fQfqrTv9sXDb4HTbXYcx3KDezooN08T18nIlO6Cd+AKn1qk+3smO3QAAAABJRU5ErkJggg==">
      </div>
      <p><em>"The most successful product managers are those who can balance both creativity and analysis, and who can think like both a customer and a business person."</em> Marty Cagan</p>
    </div>
    <div class="profile-pic">
      <img src="https://zupimages.net/up/23/38/5in1.jpg" alt="" /></a>
   </div>
  </div>
</div>

    <div class="titre-forma">
      <h2><b>Pourquoi le Product Management ?</b></h2>
    </div>

<div class="resume">
  <p>Passionné depuis toujours par <strong>la tech</strong> et <strong>la gestion de projet</strong>, j'ai pourtant choisi des directions assez diverses tout au long de ma carrière, vous pourrez constater dans ce portfolio que j'ai pu toucher à un grand nombre de secteurs : <strong>les langues</strong>, <strong>le droit</strong>, <strong>la relation client</strong>, <strong>l'immobilier</strong>, <strong>l'entrepreneuriat</strong>, <strong>les jeux vidéos</strong></p>
  <p>Dans une plus large mesure j'ai appris tout au long de ces différentes expériences à monter en compétences sur des thématiques bien spécifiques : <strong>l'écoute du client</strong>, <strong>la gestion de projet</strong>, <strong>la tech et le développement web</strong>, <strong>la connaissance approfondie d'un produit SaaS</strong> et <strong>la volonté de l'améliorer au quotidien</strong>.</p>
  <p>Bien que mon parcours soit assez atypique, je suis convaincu qu'à la lecture de celui-ci vous comprendrez ce qui me pousse à me tourner vers le <strong>Product Management</strong>, toutes mes expériences, mes compétences et ce que j'aime faire dans mon quotidien recoupe aujourd'hui en ce métier.</p>
  <p>Réellement motivé à me faire une place dans ce domaine, j'espère que mon portfolio vous plaira et vous donnera envie d'en savoir plus à mon égard ! 😀</p>
</div>



    <div class="titre-forma">
      <h2>Mes <b>formations</b></h2>
    </div>
    <div class="logos">
      <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

      <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

    </div>

<%# <div class="welcome">
<p>Bienvenue sur mon portfolio ! Ravi que tu aies décidé d'en apprendre plus sur mon profil et que tu souhaites approfondir mes expériences !</p>
<p>Si tu es là, c'est peut être aussi parce que tu t'interroges, mon profil peut sembler atypique au vu de mes expériences variées, de mes compétences diverses et des secteurs d'activités cotoyés, mais creusons un peu, toutes ces expériences font finalement de moi un profil "couteau-suisse" paré pour le Product Management !</p>
</div> %>

<%# <h2>Mes formations<h2> %>

<div class="display-main">
<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1">
        <label class="tab-label" for="chck1">Le Wagon - Web Developpement</label>
        <div class="tab-content">
        <br>
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon" width="100">
        <p><em>Mai 2023 - Juillet 2023</em></p>
        <p>Bootcamp intensif à temps plein de 9 semaines d'apprentissage au développement web, comprenant HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku et Ruby on Rails.</p>
        <p><strong>PubcrawlInTown</strong> est une application crée à la suite du Wagon, l'objectif : mettre en relation des voyageurs qui souhateraient découvrir la vie nocture de la ville dans laquelle ils se situent; mais également qui veulent rencontrer des personnes qui partagent le même objectif</p>
        <p>L'application permet ainsi de rejoindre un "Pubcrawl", et nous permet ensuite de suivre un evènement en live, qui nous renseigne un lieu de rendez-vous ; il est possible de voir qui sont les participants, d'échanger avec eux et de poster des photos</p>
        <p>Un pubcrawl est composé de 3 bars, ainsi, une alerte est placée sur des timing bien précis : 21h, 22h30, 23h30, à l'activation d'un trigger, l'application notifie l'utilisateur et renseigne l'itinéraire vers le nouveau bar, permettant aux voyageurs de se déplacer en toute autonomie dans des endroits préconisés et recommandés par l'application</p>
        <p>Réalisation d'un autre projet : CosmoCruise équivalent AirBnB</p>
        <p><strong>Compétences : JavaScript · Ruby on Rails · Gestion de produit · Gestion de projet · HTML</strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">Licences et certifications</label>
        <div class="tab-content">
        <br>
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Coursera" width="60">
          <p><em>Janvier 2019 - Décembre 2020</em></p>
          <p>Spécialisation Investment Management - Université de Genève<p>
          <p><strong>Compétences : Analyse et compréhension des marchés financiers · Management d'un portfolio financier · Sécuriser des investissements</strong></p>
          <br>
          <p>Spécialisation Entrepreneurship - Université de Wharton<p>
          <p><strong>Compétences : Développer une opportunité · Lancer une star-up · Booster sa stratégie · Stabiliser ses finances </strong></p>
          <br>
          <p>Spécialisation Financial Market - Yale University<p>
          <p><strong>Compétences : Histoire de la finance · Comportements financiers · Nouvelles inovations financières </strong></p>
          <br>
          <p>Spécialisation Projet Management, Principles and Practices - University of Califorinia<p>
          <p><strong>Compétences : Démarrer et planifier un projet · Budgeter et organiser · Anticiper les risques · Project Management </strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">Master 2 - Juriste Trilingue</label>
        <div class="tab-content">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Université de Nantes" width="100">
        <p><em>Septembre 2017 - Septembre 2018</em></p>
          <p><ul>
          <li>Droit communautaire des affaires</li>
          <li>Droit fiscal et financier international</li>
          <li>Règlements des contentieux nationaux et communautaires</li>
          <li>Traduction juridique (anglais et espagnol)</li>
          <li>Civilisation (US/UK et espagnole)</li>
  </ul>
<p>Projet en Espagnol sur:
"La ley de extradición para los narcotraficantes en Mexico"</p>

<p>Mémoire en Français :
"L'impact du licenciement collectif sur la relation entre employeur et salarié"</p>

<p>Mémoire en Espagnol :
"El impacto del despido colectivo sobre la relación entre empleador y trabajador" </p>
<p><strong>Compétences : Veille juridique · Recherche et analyse juridique · Rédaction et traduction · Droit fiscal et international</strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">Master 1 - Droit Social</label>
        <div class="tab-content">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Université de Seville" width="85">
          <p><em>Septembre 2016 - Juillet 2017</em></p>
          <p>Programme d’échange universitaire Européen ERASMUS + 2016-2017

Cours enseignés en espagnol :<ul>
<li>Droit du travail</li>
<li>Droit de la sécurité social</li>
<li>Histoire du droit espagnol</li>
<li>Droit constitutionnel</li>
<li>Droit de l'emploi</li>
<li>Droit social européen</li>
<li>Direction et gestion des ressources humaines</li>
<li>Gestion et développement des ressources humaines</li>
</ul></p>
<p><strong>Compétences : Droit des entreprises · Droit social · Espagnol · Anglais </strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">Licence 3 - Droit général</label>
        <div class="tab-content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Université de Nantes" width="100">
        <p><em>Septembre 2013 - Juillet 2016</em></p>
          <p>Licence 3 - Droit général :</p>
<ul>
<li>TD Droit du travail</li>
<li>TD Libertés et droits fondamentaux</li>
<li>Droit international public</li>
<li>Droit des sociétés</li>
<li>Droit fiscal</li>
<li>Droit judiciaire privé</li>
<li>Histoire des libertés publiques</li>
<li>Droit de l'Union Européenne</li>
<li>Droit des sûretés</li>
<li>Procédure pénale</li>
<li>Histoire des idées politiques</li>
</ul>
<p>Licence 2 - Droit :</p>
<ul>
<li>TD Droit pénal général</li>
<li>TD Droit des obligations</li>
<li>Droit des affaires</li>
<li>Finances publiques</li>
<li>Introduction à la science politique</li>
<li>Histoire du droit des obligations</li>
<li>Organisations européennes</li>
</ul>
<p>Licence 1 - Droit :</p>
<ul>
<li>TD Droit constitutionnel</li>
<li>TD Droit privé général</li>
<li>TD Droit de la famille</li>
<li>TD Histoire politique et constitutionnelle</li>
<li>Institutions internationales</li>
<li>Introduction aux sciences criminelles</li>
<li>Institutions juridictionnelles</li>
<li>Culture générale </li>
</ul>
<p><strong>Compétences : Cas pratiques · Commentaires d'arrêt · Dissertations · Rigueur juridique </strong></p>
        </div>
      </div>

    </div>
  </div>
</div>




    <div class="titre-forma">
      <h2>Mes <b>expériences professionnelles</b></h2>
    </div>

    <div class="logos">
      <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

      <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

    </div>

<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck6">
        <label class="tab-label" for="chck6"><p>Senior Customer Manager - Matera |<em style="color: #3F3F3F"> 1 an et 8 mois</em></p></label>
        <div class="tab-content">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Matera" width="100">
        <p><em>Septembre 2021 - Mai 2023</em></p>
        <p>Matera est une start-up dans la <strong>proptech</strong>, c'est un produit SaaS, en B2C, qui permet aux copropriétaires de gérer eux même les parties communes de leur immeuble. L'idée étant de renverser le modèle classique du syndic professionnel en valorisant les modèles coopératifs et bénévoles.</p>
        <p>En ce sens, Matera propose un produit très complet permettant une gestion comptable, administrative, de la copropriété avec des modules de gestion de projet, de mise en place d'AG, de répartation des charges, etc. et un accompagnement poussé avec un référent</p>
        <p>Le référent est donc le CSM qui a plusieurs missions : </p>
        <ul>
        <li>la formation du client, pré et post onboarding</li>
        <li>la satisfaction du client par l'accompagnement</li>
        <li>le support par une aide poussée sur des problématiques parfois complexes : répartitions des compteurs d'eau, comptabilité de copropriété</li>
        <li>voir une expertise particulière : travaux, juridique</li>
        <li>la rétention client par la mise en place de différents moyens, l'objectif : éviter le churn</li>
        <li>l'upsell/cross-sell avec la mise en place de packs d'Assemblée Générale, pack juridique, etc.</li>
        </ul>
        <p>Le rôle du CSM est donc varié, parmi les actions que j'ai pu mener en voici quelques unes</p>
        <ul>
        <li>Priorisation des clients difficiles, mise en place de stratégies pour éviter le churn : accompagnement poussé sur l'AG, call de copropriétaires "simples"</li>
        <li>Priorisation pour des clients à risque et gros comptes : mise en place d'appels réguliers, réalisation de certaines tâches pour le client (en lien avec des notaires, ou avocats par exemple)</li>
        <li>Expertise sur des sujets spécifiques à Matera : compétences juridiques accrues par mon master, travaux par ma société, et sur l'outil par ma séniorité</li>
        <li>Participation et gestion d'Assemblée générales de copropriétaires</li>
        <li>Support client sur des thématiques comptables complexes</li>
        </ul>
        <p>Au dela de l'aspect CSM, une grande partie de mon expérience chez Matera était composée de "side project" :</p>
        <ul>Avec les équipes <strong>Produit</strong>
        <li>Contribution à la mise en place de la feature "Carte d'identité"</li>
        <li>Centralisation des demandes clients</li>
        <li>Shadow de mes calls clients pour les équipes produits</li>
        <li>Aide aux développements des triggers sur le score de santé des copropriétés</li>
        </ul>
        <ul>Avec les équipes <strong>Ops</strong>
        <li>Mise en place d'un "tag de niveau" pour différencier les tickets à faible et haute valeur ajoutée</li>
        <li>Participation accrue à la réorganisation du pole care, comme partie prenante pré et post réorganisation</li>
        <li>Contribution à l'optimisation des différents CRM care utilisés : Hubspot / Skalin</li>
        </ul>
        <ul>Avec les équipes <strong>RH</strong>
        <li>Headhunting</li>
        <li>Entretien premier round</li>
        <li>Entretien second round</li>
        </ul>
        <ul>Avec les équipes <strong>marketing</strong>
        <li>Partie prenante au sujet du parrainage Matera : déploiement, suivi des objectifs, suivi des résultats de l'équipe care </li>
        </ul>
        <ul>et bien évidement avec l'équipe <strong>Care</strong> :
        <li>Déploiement de la Customer Journey pour approndir le nouveau fonctionnement post réorganisation</li>
        <li>Formation sur le nouveau poste de CSM en interne</li>
        <li>Buddy à 3 reprises et formations des nouveaux sur des thématiques en interne : module compta, module compteurs et autre</li>
        <li>Rédaction d'articles Notion pour peaufiner la documentation en interne</li>
        <li>Présentation aux équipes care sur les sujets précédements évoqués</li>
        </ul>
        <p><strong>Compétences : CSM · Satisfaction et rétention · Gestion de produit · Gestion de projet · Comptabilité de copropriété · SaaS · Expertise sur un produit complexe · Expertise sur des thématiques juridiques, comptable et travaux · </strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck7">
        <label class="tab-label" for="chck7"><p>Co-Fondateur - ALCAMAYA |<em style="color: #3F3F3F"> toujours en cours</em></p></label>
        <div class="tab-content">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya" width="100">
        <p><em>Janvier 2021 - toujours en cours</em></p>
        <p>Alcamaya est une société crée en 2021, l'objectif, trouver des logements peu chers, d'apparence sans grand intérêt locatif, et par un investissement d'opportunisme, créer de la valeur ajoutée par la rénovation et la création de lieu de vie commune épanouissants</p>
        <p>La société est actuellement composée de 12 logements en location</p>
        <p>Il y a en outre une grande maison qui a été totalement refaite pour créer une colocation de 7 chambres, et une autre maison avec 5 studios</p>
        <p>Mon rôle en tant que co-fondateur est et a été le suivant</p>
        <ul>Avant les investissements
        <li>Etude de marché</li>
        <li>Création de société (SARL), rédaction des status</li>
        <li>Business plan</li>
        <li>Négociation immobilère</li>
        <li>Appel d'offre</li>
        </ul>
        <ul>Pendant les rénovations
        <li>Participation au chantier</li>
        <li>Mise en place des principaux prestataires : urbanisme, eau, éléctricité, internet</li>
        <li>Préparation des contrats, des modèles de quittance, des premières annonces</li>
        </ul>
        <ul>Après les rénovations
        <li>Gestion comptable</li>
        <li>Gestion locative : annonces, quittances, entrée/sorties, gestion des visites à distance</li>
        <li>Assistance aux locataires</li>
        <li>Création d'un site web et SEO</li>
        <li>Prospection par des cartes de visite dans les établissements alentours</li>
        <li>Recherche de nouveaux investissements</li>
        </ul>
        <p><strong>Compétences : Entrepreunariat · Gestion de projet · Immobilier · Gestion locative</strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck8">
        <label class="tab-label" for="chck8"><p>Lead Customer Support - Funplus |<em style="color: #3F3F3F"> 2 ans et 5 mois</em></p></label>
        <div class="tab-content">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Alcamaya" width="100">
        <p><em>Janvier 2019 - Avril 2021</em></p>
        <p>FunPlus est un géant du jeu vidéo mobile chinois</p>
        <p>Mon rôle : créer et développer le support Français pour 3 jeux: King of Avalon, Guns of Glory, Zday</p>
        <p>En tant que premier support francopohone sur ces 3 jeux, j'ai du mettre en place les premiers éléments du support français</p>
        <ul>Le rôle de support était dans une large mesure le suivant :
        <li>Question liée au jeu et à la connaissance de ce dernier : besoin d'être toujours à jour et au fait des nouvelles actualités</li>
        <li>Problèmes de paiement : remboursement, code cadeaux en cas de besoin</li>
        <li>Résolution des bugs : nécésitée d'investiger les logs du jeu, et d'échanger régulièrement avec les développeurs</li>
        <li>Centralisation des suggestions française auprès de mon équipe et communication avec les développeurs</li>
        </ul>
        <p>J'ai également recruté une petite équipe de 3 collaborateurs, que j'ai formé au jeu et au métier, je m'assurais également de la qualité des réponses apportées, et je restais disponible à tout moment pour les accompagner par ma séniorité et connaissance accrue des jeux</p>
        <p><strong>Compétences : Management d'équipe · Compétences techniques : logs et suggestions produits · Support client · Traduction</strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck9">
        <label class="tab-label" for="chck9"><p>Entrepreneur - TradolTrad (projet annexe) |<em style="color: #3F3F3F"> 5 mois</em></p></label>
        <div class="tab-content">
        <img src="https://media.licdn.com/dms/image/C4E0BAQEUIgi6t2TiQg/company-logo_100_100/0/1624047010183?e=1703116800&v=beta&t=E_uWnZ1HR3jhju-pNertdOg4mGRmFh6F5ms58Vj2qLU" alt="Alcamaya" width="100">
        <p><em>Juillet 2019 - Décembre 2019</em></p>
        <p>Création d'un site internet pour réaliser des missions freelance notamment de traduction</p>
        <p><strong>Compétences : Site web en no-code · UX/UI · Etude de marché · SEO </strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck10">
        <label class="tab-label" for="chck10"><p>CCOO de Industria |<em style="color: #3F3F3F"> 5 mois</em></p></label>
        <div class="tab-content">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Alcamaya" width="100">
        <p><em>Mars 2017 - Juin 2017</em></p>
        <p>Stage de fin d'études, 4 mois.
CCOO de Séville, sous la direction de M. Javier Terán Condé: </p>
<ul>
<li>Assister à des jugements au tribunal social, prendre des notes qui serviront pour des cas futurs</li>
<li>Assister aux consultations des salariés lésés dans l’établissement du syndicat</li>
<li>Prendre notes des consultations pour s’en servir lors de la rédaction de demande de justice</li>
<li>Rédaction de demandes de justice adressées au tribunal social de Séville</li>
<li>Recherche de jurisprudences spécifiques aux cas d’espèces à la demande de l’avocat</li>
<li>Debrief sur les affaires en cours et quelles peuvent être leurs évolutions suite aux consultations</li>
</ul>
        <p><strong>Compétences : Veille juridique · Espagnol · Rédaction d'actes juridiques · Assistance au tribunal</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="display-test">
    <div class="hard-soft">
    <div class=skills-group>
      <h2>Hard skills</b></h2>
      <div class="intern-skills">
      <h3><i class="fa-solid fa-code" style="color: #000000;"></i> Langages de programation</h3>
        <div class="flexx">
          <div class="font-rails"><p>Ruby on Rails</p></div>
          <div class="font-javascript"><p>Javascript</p></div>
          <div class="font-css"><p>CSS</p></div>
          <div class="font-sql"><p>Postgre SQL</p></div>
          <div class="font-html"><p>HTML</p></div>
        </div>
      <h3><i class="fa-solid fa-screwdriver-wrench" style="color: #000000;"></i> Outils de prédilection</h3>
      <div class="tools">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Notion-logo.svg/2048px-Notion-logo.svg.png"><p>Notion</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png"><p>VS Code</p>
        <img src="https://cdn.icon-icons.com/icons2/3041/PNG/512/trello_logo_icon_189227.png"><p>Trello</p>
        <img src="https://play-lh.googleusercontent.com/4ciMOQ0XcqbChkij9FV1HPShKHfCJwm5Ph5fypIG6veCOyAvFUmk7PCZgso_ub8nLw"><p>Hubspot</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgmdcHnW5kitEGvI1xiA2AtW2d7xw_cgxg7bjTQz1nXWY0YkckRVBbQRfqpGc6hF2KQA0&usqp=CAU"><p>Front</p>
        <img src="https://asset.brandfetch.io/idAnDTFapY/idYC5f2L1X.png"><p>Miro</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png"><p>Slack</p>
        <img src="https://logodownload.org/wp-content/uploads/2022/12/figma-logo-0.png"><p>Figma</p>
        <img src="https://cdn.worldvectorlogo.com/logos/jira-1.svg"><p>Jira</p>
        <img src="https://w7.pngwing.com/pngs/557/90/png-transparent-google-logo-g-suite-google-text-logo-business-thumbnail.png"><p>Google suite</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo-ubuntu_cof-orange-hex.svg/1200px-Logo-ubuntu_cof-orange-hex.svg.png"><p>Ubuntu</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"><p>Github</p>
      </div>
      <h3><i class="fa-solid fa-shield-halved" style="color: #000000;"></i> Personnal hard skills</h3>
                <ul>
      <li>Gestion de projet et entrepreunariat</li>
      <li>Gestion de produit, développement d'app et de site internet</li>
      <li>Comptabilité professionnelle</li>
      <li>UX / UI design</li>
      <li>SEO</li>
      <li>Recrutement (entretien d'embauche first et second round)</li>
      <li>Création de roadmap</li>
      <!-- Ajoutez d'autres animaux si nécessaire -->
    </ul>
      </div>
      </div>
    </div>

    <div class="hard-soft">
      <h2>Soft skills</b></h2>
      <div class=skills-group>
      <h3><i class="fa-solid fa-comments" style="color: #000000;"></i> Team skills</h3>
          <ul>
      <li>Pédagogie</li>
      <li>Formateur et à l'écoute</li>
      <li>Diplomate et à l'aise à l'oral, tant avec les clients que les collaborateurs</li>
      <li>Conciliant</li>
      <li>Conscienceux et à l'aise avec la priorisation</li>
      <li>Rigoureux et organisé</li>
      <li>Impliqué dans la culture d'entreprise</li>
      <!-- Ajoutez d'autres animaux si nécessaire -->
    </ul>
      <h3><i class="fa-solid fa-face-smile" style="color: #000000;"></i> Personnal skills</h3>
          <ul>
      <li>Patient</li>
      <li>Réfléchi</li>
      <li>Calme</li>
      <li>Customer-focus</li>
      <li>Ambitieux</li>
      <li>Humble</li>
      <li>Fast learner</li>
      <!-- Ajoutez d'autres animaux si nécessaire -->
    </ul>
    <h3><i class="fa-solid fa-earth-europe" style="color: #000000;"></i> Langues</h3>
    <div class="langues">
        <div class="flexx-langues"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/255px-Flag_of_France.svg.png"><p> Français natif </p></div>
        <div class="flexx-langues"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/800px-Flag_of_the_United_Kingdom_%281-2%29.svg.png"><p>Anglais C1 </p></div>
        <div class="flexx-langues"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png"><p>Espagnol C1</p></div>
        </div>
    </div>
    </div>
</div>




    <div class="titre-forma">
      <h2>Expériences personnelles</b></h2>
    </div>
<div class="card-flex">
    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1606503809729-40646b716a36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Année de césure</h2>
      <p><strong>9 mois</strong> - Voyage seul, pays traversés : USA, Mexique, Guatemala, Costa Rica, Panama, Colombie, Equateur, Kenya, Inde, UAE</p>
    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1516554646385-7642248096d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Serveur en brasserie</h2>
      <p><strong>7 saisons</strong> - Chef de salle, prise de commande, service en salle, gestion des réservations</p>
    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1489392191049-fc10c97e64b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1734&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Professeur volontaire au Kenya</h2>
      <p><strong>2 mois</strong> - Cours de math, français, informatique de base, aide à l'entretien de l'école</p>

    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://fichier0.cirkwi.com/image/photo/poi/800x500/409712/fr/1.jpg?1460121423" />
  <div class="card-trip-infos">
    <div>
      <h2>Paludier</h2>
      <p><strong>1 saison</strong> - Récolte de la fleur de sel, portage du gros sel</p>
    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://www.villagehostel.fr/wp-content/uploads/2017/10/4FE-3-Large-1024x683.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Volontaire en hostel</h2>
      <p><strong>3 mois</strong> - Dans une auberge de jeunesse à Bordeaux: night et day shift</p>
    </div>
  </div>
</div>

</div>

    <div class="titre-forma">
      <h2>Ma présence en ligne</b></h2>
    </div>

<div class="presence-part">
  <div class="item"><a href="https://github.com/Alexisl94?tab=repositories" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="github Icon">
  <p>Github</p></a></div>

  <div class="item"><a href="https://twitter.com/Alexisl94Tech" target="_blank">
  <img src="https://about.twitter.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="twitter Icon">
  <p>Twitter (X)</p></a></div>

      <div class="item"><a href="https://www.linkedin.com/in/alexis-leray/" target="_blank" class="custom-button">
  <img src="https://img.freepik.com/vecteurs-premium/logo-linkedin-carre-isole-fond-blanc_469489-892.jpg" alt="Linkedin">
  <p>LinkedIn</p>
  </a></div>

    <div class="item"><a href="https://www.youtube.com/watch?v=tujKoB52y5E&ab_channel=LeWagon" target="_blank" class="custom-button">
  <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" alt="YouTube Icon">
  <p>Démo de l'application PubcrawlInTown</p>
  </a></div>

  <div class="item"><a href="https://www.youtube.com/watch?v=GIDnHbyHdlM" target="_blank" class="custom-button">
        <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" alt="YouTube Icon">
    <p>Campagne de Crowdfunding au Kenya</p>
  </a></div>

  <div class="item"><a href="https://www.logement-redon.com/" target="_blank">
  <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="alcamaya Icon">
  <p>Mes logements à Redon</p></a></div>

  <div class="item"><a href="https://zupimages.net/viewer.php?id=23/38/7jzh.png" target="_blank">
  <img src="https://images.vexels.com/media/users/3/140030/isolated/preview/521136d25b37386f49728b93d2e4e6fa-cv-icon.png" alt="YouTube Icon">
  <p>Mon CV</p></a></div>

  <div class="item"><a href="http://www.pubcrawl-in-town.com/" target="_blank">
   <img src="https://zupimages.net/up/23/26/18io.png" alt="YouTube Icon">
   <p>Mon application PubcrawlInTown (mobile)<p></a></div>

</div>

    <div class="titre-forma">
      <h2>Me contacter</b></h2>
    </div>

<div class="contact">
<div class="contact-item"><i class="fa-solid fa-envelope-open-text fa-2xl" style="color: #000000;"></i><p>alexis.leray.fr@gmail.com<p></div>
<div class="contact-item"><i class="fa-solid fa-phone fa-2xl" style="color: #000000;"></i><p>+33 6 87 19 94 04<p></div>
</div>

    <div class="footer">
    <p>Portfolio réalisé en Ruby on Rails par Alexis Leray</p>
    </div>


<style>
@media (max-width: 767px) {
    /* Ajoutez vos styles ici pour l'affichage sur les écrans plus petits */
.banner {
  background: linear-gradient(transparent, rgba(216, 216, 216, 0.89)), url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
  height: 300px;
  background-size: cover; L'image couvrira entièrement la zone de la bannière
  /* background-position: center; Centrez l'image horizontalement et verticalement */
}

.banner-content {
display: block;
}

.banner-text {
  align-items: center; /* Centrez le contenu du texte verticalement */
  margin: auto;
  width: 300px;
}

.banner h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: auto;
}

.banner h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  margin: auto;
  color: rgb(63, 63, 63);
}

.banner p {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: auto;
}

.profile-pic img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(170, 166, 166, 0.521); /* Ajoute une ombre lumineuse */
}

.paris {
  display: block;
  text-align: center;
  justify-items: center;
/*   justify-items: center;
  justify-self: center; */
  /* margin: auto; */
}

.paris p {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgb(151, 151, 151)
}

.paris img {
  margin: 0 auto;
  height: 20px;
}


.titre-forma h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  color: rgb(63, 63, 63);
}

.display-test {
  display: block;
  height: 100%;
  }

.intern-skills {
  margin-left: 0px;
}

/* .skill-group h2 {
  justify-self: center;
} */

.hard-soft {
  width: 100%;
  margin-top: 50px;
  /* margin-left: 10px; */
}

.skills-group {
  margin-left: 10px;
}

.tools p {
  text-align: center; /* Centrez le texte sous les images */
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  white-space: pre-line; /* Indiquez de passer à la ligne lorsque le texte est rempli */
}

/* .flexx {
    margin-left: 10%;
    margin-right: 10%;
    column-count: 5;
    column-gap: 40px
} */
.font-javascript {
  color: rgb(255, 255, 255);
  background-color: #EFD81B;
  border: 1px solid #000000;
  // padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  margin-right: 10px;
  height: 20px;
  width: 70px;
}

/* .font-javascript p {
  margin-bottom: 10px;
} */

.font-rails {
  background-color: #C50200;
  border: 1px solid #000000;
  color: white;
  // padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  margin-right: 10px;
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
}

.font-css {
  background-color: #244BDD;
  border: 1px solid #000000;
  color: white;
  // padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  margin-right: 10px;
  height: 20px;
  width: 30px;
}

.font-sql {
  background-color: #01285D;
  border: 1px solid #000000;
  color: white;
  // padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  margin-right: 10px;
  height: 20px;
  width: 90px;
}

.font-html {
  background-color: #DC4A24;
  border: 1px solid #000000;
  color: white;
  // padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  margin-right: 10px;
  height: 20px;
  width: 45px;
  // margin-bottom: 10px;
}

.card-flex {
  column-count: 1; /* Afficher en 5 colonnes */
  column-gap: 40px; /* Espace entre les colonnes */
  max-width: 1900px; /* Ajustez la largeur maximale en fonction de vos besoins */
  margin: 0 auto; /* Centrez les colonnes horizontalement */
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 70%; /* Ajustez la largeur pour s'adapter à la colonne */
  margin-bottom: 20px; /* Espace entre les cartes verticalement */
  break-inside: avoid; /* Évitez les sauts de colonne à l'intérieur des cartes */
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
}


.contact-item p {
  font-family: 'Kanit', sans-serif;
  font-weight: 500; /* La propriété correcte pour définir le poids de la police */
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 0; /* Supprime les marges par défaut des paragraphes */
}

.presence-part {
  /* // display: flex;
  // flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
  /*// justify-content: space-between; Espacement entre les colonnes */
  margin-left: 10%;
  margin-right: 10%;
  column-count: 2; /* Afficher en 5 colonnes */
  column-gap: 40px; /* Espace entre les colonnes */
}

.presence-part .item {
  text-align: center;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 10px;
  color: rgb(114, 114, 114);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px; /* Largeur de 25% pour 4 colonnes avec un espace entre */
  height: 120px;
  margin-bottom: 20px; /* Espacement entre les lignes */
  border: rgba(189, 189, 189, 0.678) 1px solid;
  border-radius: 2px;
  box-shadow: 1px 2px 5px 2px rgba(201, 201, 201, 0.747);
}

.presence-part p {
  text-align: center;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 10px;
  color: rgb(114, 114, 114);
}

.presence-part .item img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.tools {
  column-count: 3; /* Divisez en 3 colonnes */
  column-gap: 20px; /* Espace entre les colonnes */
  max-width: 400px;
  margin-left: 0;
}

.footer {
  width: 100vh;
}

.footer {
  width: 100%;
}

.resume {
  height: 400px;
  width: 80%;
  margin: auto;
  text-align: justify; /* Justifie le texte */
  line-height: 1.2;
}
  }
</style>
