
<div class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>Alexis Leray</h1>
      <h2>Product Manager</h2>
      <div class="paris">
      <p>Paris</p>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABWklEQVR4nO2UTStEURzGf0xZUZpYsJK1aBaayzdQluIbsJpsjA1bKZakkC8hpbx8CSwtiIXGTM2CaCaOTj3qdLtGd2buKe489a9zn//L85zbOQc6+OMwinQaMKFIlwHzQ6THQBdQdoQr4rxhVMIl4FnrEZ8GFiR6DJxoPefTwJ5E14B1rXd8GriT6CQQaH3vS3xcgk9At6IkbsyHgU2JHTrckbiNpMUzwIPE8g4/Le5RNYlhVkJXEblr5WaSNHApkUJEblm5syQP3yfwBmQj8v3Aq0zkfL395pf4PwZOY7x2u6q9aJf4vAZWgQFxgQReFOfiLAZVa9TbEvp0t+2worglHcbw77bcompWxdk3o7cVA9saZO94j053HXgHVoAhRVFcDZhQ7Y16t5oVn5LYh/N7DzTUiofxvet9fQfqrTv9sXDb4HTbXYcx3KDezooN08T18nIlO6Cd+AKn1qk+3smO3QAAAABJRU5ErkJggg==">
      </div>
      <p><em>"The most successful product managers are those who can balance both creativity and analysis, and who can think like both a customer and a business person."</em> Marty Cagan</p>
    </div>
    <div class="profile-pic">
      <img src="https://zupimages.net/up/23/38/5in1.jpg" alt="" /></a>
   </div>
  </div>
</div>

    <div class="titre-forma">
      <h2>Mes <b>formations</b></h2>
    </div>

    <div class="logos">
      <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

      <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

            <div class="logos-slide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universit%C3%A9_de_nantes_logo.jpg" alt="Logo de l'Université de Nantes">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaSaD7EkFHUZfq8C2DnknshDe44ypxNZ_vQ3JOqzRg=s900-c-k-c0x00ffffff-no-rj" alt="Logo de l'Université de Seville">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1" alt="Logo de coursera">
        <img src="https://yt3.googleusercontent.com/ytc/AOPolaS-VSEOSAaxO_4Cnh4B5eVoIKNLh8UBXBI2UQQWzA=s900-c-k-c0x00ffffff-no-rj" alt="Logo de Google">
      </div>

    </div>

<%# <div class="welcome">
<p>Bienvenue sur mon portfolio ! Ravi que tu aies décidé d'en apprendre plus sur mon profil et que tu souhaites approfondir mes expériences !</p>
<p>Si tu es là, c'est peut être aussi parce que tu t'interroges, mon profil peut sembler atypique au vu de mes expériences variées, de mes compétences diverses et des secteurs d'activités cotoyés, mais creusons un peu, toutes ces expériences font finalement de moi un profil "couteau-suisse" paré pour le Product Management !</p>
</div> %>

<%# <h2>Mes formations<h2> %>

<div class="display-main">
<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1">
        <label class="tab-label" for="chck1">Le Wagon - Web Developpement</label>
        <div class="tab-content">
        <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" alt="Logo du Wagon" width="100">
        <p><em>mai 2023 - juillet 2023</em></p>
        <p>9-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap,
        JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <p><strong>Compétences : JavaScript · Ruby on Rails · Gestion de produit · Gestion de projet · HTML</strong></p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">Master 2 - Juriste trilingue</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">Master 1 - Droit social</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
    </div>
  </div>
</div>




    <div class="titre-forma">
      <h2>Mes <b>expériences pro</b></h2>
    </div>

    <div class="logos">
      <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

      <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

            <div class="logos-slide">
        <img src="https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202305/68cee1458b8aff3c7c6ea3b9859a9093.png" alt="Logo Matera">
        <img src="https://zupimages.net/up/23/26/18io.png" alt="Pubcrawl in town">
        <img src="https://funplus.com/wp-content/uploads/2022/12/Logo-Horizontal-Color.png" alt="Logo de FunPlus">
        <img src="https://media.licdn.com/dms/image/C4E0BAQGxrSK6f4yIoA/company-logo_100_100/0/1624049363220?e=1703116800&v=beta&t=g4xMI1Buu5QboGi_nrqQaeANgKaIsIkulnpezOLW3RM" alt="Alcamaya">
        <img src="https://industria.ccoo.es/55728dc6e7ba1457c4295106292c3427000060.jpg" alt="CCOO Logo">
      </div>

    </div>

<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck6">
        <label class="tab-label" for="chck6">Matera</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck7">
        <label class="tab-label" for="chck7">ALCAMAYA</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck8">
        <label class="tab-label" for="chck8">Funplus</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck9">
        <label class="tab-label" for="chck9">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck10">
        <label class="tab-label" for="chck10">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="display-test">
    <div class="hard-soft">
    <div class=skills-group>
      <h2>Hard skills</b></h2>
      <div class="intern-skills">
      <h3><i class="fa-solid fa-code" style="color: #000000;"></i> Langages de programation</h3>
        <div class="flexx">
          <p class="rails">Ruby on Rails</p>
          <p class="javascript">Javascript</p>
          <p class="font-css">CSS</p>
          <p class="sql">Postgre SQL</p>
          <p class="font-html">HTML</p>
        </div>
      <h3><i class="fa-solid fa-screwdriver-wrench" style="color: #000000;"></i> Outils de prédilection</h3>
      <div class="tools">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Notion-logo.svg/2048px-Notion-logo.svg.png"><p>Notion</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png"><p>VS Code</p>
        <img src="https://cdn.icon-icons.com/icons2/3041/PNG/512/trello_logo_icon_189227.png"><p>Trello</p>
        <img src="https://play-lh.googleusercontent.com/4ciMOQ0XcqbChkij9FV1HPShKHfCJwm5Ph5fypIG6veCOyAvFUmk7PCZgso_ub8nLw"><p>Hubspot</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgmdcHnW5kitEGvI1xiA2AtW2d7xw_cgxg7bjTQz1nXWY0YkckRVBbQRfqpGc6hF2KQA0&usqp=CAU"><p>Front</p>
        <img src="https://asset.brandfetch.io/idAnDTFapY/idYC5f2L1X.png"><p>Miro</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png"><p>Slack</p>
        <img src="https://logodownload.org/wp-content/uploads/2022/12/figma-logo-0.png"><p>Figma</p>
        <img src="https://cdn.worldvectorlogo.com/logos/jira-1.svg"><p>Jira</p>
        <img src="https://w7.pngwing.com/pngs/557/90/png-transparent-google-logo-g-suite-google-text-logo-business-thumbnail.png"><p>Google suite</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo-ubuntu_cof-orange-hex.svg/1200px-Logo-ubuntu_cof-orange-hex.svg.png"><p>Ubuntu</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"><p>Github</p>
      </div>
      <h3><i class="fa-solid fa-shield-halved" style="color: #000000;"></i> Personnal hard skills</h3>
                <ul>
      <li>Gestion de projet et entreprenariat</li>
      <li>Gestion de produit, développement d'app et de site internet</li>
      <li>Comptabilité professionnelle</li>
      <li>UX / UI design</li>
      <li>SEO</li>
      <li>Recrutement (entretien d'embauche first et second round)</li>
      <li>Création de roadmap</li>
      <!-- Ajoutez d'autres animaux si nécessaire -->
    </ul>
      </div>
      </div>
    </div>

    <div class="hard-soft">
      <h2>Soft skills</b></h2>
      <div class=skills-group>
      <h3><i class="fa-solid fa-comments" style="color: #000000;"></i> Team skills</h3>
          <ul>
      <li>Pédagogie</li>
      <li>Formateur et à l'écoute</li>
      <li>Diplomate et à l'aise à l'oral, tant avec les clients que les collaborateurs</li>
      <li>Conciliant</li>
      <li>Conscienceux et à l'aise avec la priorisation</li>
      <li>Rigoureux et organisé</li>
      <li>Impliqué dans la culture d'entreprise</li>
      <!-- Ajoutez d'autres animaux si nécessaire -->
    </ul>
      <h3><i class="fa-solid fa-face-smile" style="color: #000000;"></i> Personnal skills</h3>
          <ul>
      <li>Patient</li>
      <li>Réfléchi</li>
      <li>Calme</li>
      <li>Customer-focus</li>
      <li>Ambitieux</li>
      <li>Humble</li>
      <li>Fast learner</li>
      <!-- Ajoutez d'autres animaux si nécessaire -->
    </ul>
    <h3><i class="fa-solid fa-earth-europe" style="color: #000000;"></i> Langues</h3>
    <div class="langues">
        <div class="flexx-langues"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/255px-Flag_of_France.svg.png"><p> Français natif </p></div>
        <div class="flexx-langues"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/800px-Flag_of_the_United_Kingdom_%281-2%29.svg.png"><p>Anglais C1 </p></div>
        <div class="flexx-langues"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png"><p>Espagnol C2</p></div>
        </div>
    </div>
    </div>
</div>




    <div class="titre-forma">
      <h2>Expériences personnelles</b></h2>
    </div>
<div class="card-flex">
    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1606503809729-40646b716a36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Année de césure</h2>
      <p><strong>9 mois</strong> de voyages seul, pays traversés : USA, Mexique, Guatemala, Costa Rica, Panama, Colombie, Equateur, Kenya, Inde, UAE</p>
    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1516554646385-7642248096d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Serveur en brasserie</h2>
      <p><strong>7 saisons</strong>, chef de salle, prise de commance, service en salle, gestion des réservations</p>
    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1489392191049-fc10c97e64b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1734&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Professeur volontaire au Kenya</h2>
      <p><strong>2 mois</strong>Cours de math, français, informatique de base, aide à l'entretien de l'école</p>

    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://fichier0.cirkwi.com/image/photo/poi/800x500/409712/fr/1.jpg?1460121423" />
  <div class="card-trip-infos">
    <div>
      <h2>Paludier</h2>
      <p>Travail saisonnier : récolte de la fleur de sel et du gros sel, portage</p>
    </div>
  </div>
</div>

    <div class="card-trip">
  <img src="https://www.villagehostel.fr/wp-content/uploads/2017/10/4FE-3-Large-1024x683.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Volontaire en hostel</h2>
      <p>Dans une auberge de jeunesse à Bordeaux: night en day shift</p>
    </div>
  </div>
</div>

</div>

    <div class="titre-forma">
      <h2>Ma présence en ligne</b></h2>
    </div>

<div class="presence-part">
<a href="https://github.com/Alexisl94?tab=repositories" target="_blank">Github</a>
<p>Twitter</p>
      <a href="https://www.youtube.com/watch?v=GIDnHbyHdlM" target="_blank" class="custom-button">
      <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" alt="YouTube Icon">
  Vidéo de la campagne de Crowdfunding au Kenya
</a>
<a href="https://www.logement-redon.com/" target="_blank">Mes logements à Redon</a>

<p>Mon CV</p>
<a href="http://www.pubcrawl-in-town.com/" target="_blank">Mon application PubcrawlInTown</a><p>Recommandation: à consulter sur mobile</p>
      <a href="https://www.youtube.com/watch?v=tujKoB52y5E&ab_channel=LeWagon" target="_blank" class="custom-button">
      <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" alt="YouTube Icon">
  Vidéo de démo de l'application PubcrawlInTown
</a>
</div>

    <div class="titre-forma">
      <h2>Me contacter</b></h2>
    </div>
