@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,300;0,700;1,100;1,300&display=swap');


.banner {
  background: linear-gradient(transparent, rgba(216, 216, 216, 0.89)), url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
  height: 600px;
  background-size: cover; /* L'image couvrira entièrement la zone de la bannière */
  background-position: center; /* Centrez l'image horizontalement et verticalement */
}

.banner-content {
display: flex;
// align-items: center; /* Centrez verticalement le contenu */
// justify-content: center; /* Centrez horizontalement le contenu */
// border: 1px solid rgb(255, 0, 0);
}

.banner-text {
  // display: flex;
  align-items: center; /* Centrez le contenu du texte verticalement */
  // border: 1px solid rgb(255, 0, 0);
  margin-left: 150px;
  margin-top: 80px;
  width: 900px;
}

.banner h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 80px;
  margin-bottom: 20px;
}

.banner h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
  color: rgb(63, 63, 63);
}

.banner p {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  // border: 1px solid rgb(255, 0, 0);
  height: 300px;
  width: 300px;
  margin-left: 0px;
  margin-top: 80px;
  // // justify-self: start; /* Alignez la photo de profil à droite de sa colonne */
  // margin: auto;
  // margin-right: 180px;
}

.profile-pic img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(170, 166, 166, 0.521); /* Ajoute une ombre lumineuse */
}

.paris {
  display: flex;
  justify-items: center;
  justify-self: center;
}

.paris p {
  // margin-top: 4px;
  // margin-left: 400px;
  margin-left: 380px;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: rgb(151, 151, 151)
}

.paris img {
  // margin-top: 10px;
  // margin-left: 200px;
  height: 40px;
}

.resume {
  height: 200px;
  width: 80%;
  margin: auto;
  text-align: justify; /* Justifie le texte */
  line-height: 1.2;
}

.resume p {
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-style: 400;
  font-size: 14px; /* Réduire la taille de la police */
  color: rgb(66, 66, 66);
}
