@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,300;0,700;1,100;1,300&display=swap');

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%; /* Ajustez la largeur pour s'adapter à la colonne */
  margin-bottom: 20px; /* Espace entre les cartes verticalement */
  break-inside: avoid; /* Évitez les sauts de colonne à l'intérieur des cartes */
  height: 400px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: 'Kanit', sans-serif;
  font-style: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.card-trip p {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-style: 500;
  font-size: 14px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.card-trip a {
  text-decoration: none;
  color: black;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  // right: 16px;
  // top: -20px;
  width: 40px;
}

.card-flex {
  column-count: 5; /* Afficher en 5 colonnes */
  column-gap: 40px; /* Espace entre les colonnes */
  max-width: 1900px; /* Ajustez la largeur maximale en fonction de vos besoins */
  margin: 0 auto; /* Centrez les colonnes horizontalement */
}

.card-trip-infos img {
  width: 30px;
}
