@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,300;0,700;1,100;1,300&display=swap');


.welcome {
  height: 300px;
  width: 100%;
}

.welcome p {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
}

.titre-forma {
  height: 300px;
  font-family: 'Kanit', sans-serif;
  font-size: 60px;
  color: rgb(63, 63, 63);
  display: flex; /* Utilisez flexbox pour centrer */
  justify-content: center; /* Centrez horizontalement */
  align-items: center; /* Centrez verticalement */
  margin-bottom: 20px;
  margin: auto;
}

.titre-forma h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  color: rgb(63, 63, 63);
}

.display-test {
  display: flex;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 60px;
  height: 800px;
}

.display-test h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  color: rgb(63, 63, 63);
}

$midnight: #d4d4d4;
$clouds: #d1d1d1;
// General
body {
  color: $midnight;
  background: $clouds;
  // padding: 0 1em 1em;
  margin-bottom: 50px;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
  margin-bottom: 20px;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
ul {
  color: black;
}

// Layout
.row {
  display:flex;
  // flex-basis: 50%;
  // flex-grow: 1;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
// .tabs {
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
// }
.tab {
  width: 80%;
  color: rgb(0, 0, 0);
  margin: auto;
  overflow: hidden;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 2em; // problem peut être ici
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em; // problem peut être ici
      height: 1em; // problem peut être ici
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .50s ease;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100%;
    padding: 1em;
  }
}
